.full-page {
  background: url(../../assets/homeBg.png) no-repeat;
  height: 100vh;
  width: 100%;
  .my {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 35%;
    font: 800;
    font-size: 6rem;
    font-family: "Scada", sans-serif;
    // padding-bottom: 50%;
  }
  @media only screen and (max-width: 768px) {
    .my {
      font-size: 4rem;
      padding-top: 35%;
    }
  }
  @media all and (device-width: 768px) {
    .my {
      padding-top: 40%;
    }
  }
}
